{% extends 'main/index.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/wordpress.css') }}" />
{% endblock %}
{% block main %}
<h1 class="text-center">WordPress {{ wordpressData.getVersion() }}</h1>
<form class="form-horizontal">
    <div id="toolbox" class="panel panel-default">
        <div class="panel-heading">
            <h3>Database setup</h3>
            <p class="text-info">Enter your database connection details</p>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-xs-2" for="database-name">Database name</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="database-name" placeholder="wordpress">
                </div>
                <p class="help-block">
                    Database name
                </p>
            </div>
            <div class="form-group">
                <label class="col-xs-2" for="database-username">Database username</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="database-username" placeholder="root">
                </div>
                <p class="help-block">
                    MySQL username
                </p>
            </div>
            <div class="form-group">
                <label class="col-xs-2" for="database-password">Password</label>
                <div class="col-xs-6">
                    <input type="password" class="form-control" id="database-password" placeholder="password">
                </div>
                <p class="help-block">
                    MySQL password
                </p>
            </div>
            <div class="form-group">
                <label class="col-xs-2" for="database-prefix">Table prefix</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="database-prefix" placeholder="wp_">
                </div>
                <p class="help-block">
                    Useful when running multiple WordPress installations in a single database
                </p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Clean install (no demo-content is included)
                </label>
            </div>
        </div>
    </div>
</form>
{% endblock %}
