<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyInstall</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
</head>
<body>

<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    EasyInstall
                </a>
            </div>
            <p class="navbar-text navbar-right">&copy; 2015 Ramiz Wachtler</p>
        </div>
    </nav>
</header>
<main class="container" role="main">
    <h1 class="text-center">Select a CMS</h1>
</main>
<footer></footer>

<script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>